nav.navbarBody {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: black;
    box-shadow: var(--defaultboxshadow);

    padding: 30px 40px;

    position: fixed;
}

div.navbarContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    color: var(--purpleblue);
    font-weight: 700;
}

div.mainButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}