@import "tailwindcss";

:root {
  /* Color properties */
  --lightpurple: rgb(174, 112, 255);
  --darkpurple: #7900C4;
  --purpleblue: #3E3EFB;

  /*  Gradient properties */
  --purplegradient: linear-gradient(180deg,rgba(27, 27, 204, 1) 0%, rgba(37, 18, 69, 1) 75%);

  /* Shadows */
  --defaultboxshadow: 0px 0px 15px 0px #000000;
  --bottomboxshadow: 0px 1px 0px 0px var(--lightpurple);
}

body {
  background: black;
}

/* Design class for the main page design */

main.mainPageContainer {
    padding: 120px 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;

    background: var(--purplegradient);
}